In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/RENT")
connection = engine.connect()

In [3]:
def update_token ():
    property_code = input("What is the property code?")
    token_hash = input("What is the token transaction hash?")
    connection.execute(f"UPDATE tblproperty_info SET token_hash = '{token_hash}' WHERE property_code = {property_code};")
    print("Update Complete")

In [6]:
query="""
SELECT * FROM tblproperty_info;
"""

In [7]:
properties_df = pd.read_sql(query, engine)
properties_df

,property_code,owner_code,street_address,zip_code,subdivision,legal_description,bedrooms,full_baths,half_baths,garage,stories,year_built,building_sqft,lot_sqft,annual_maintenance_fee,token_hash
0,75112555,9,13521 Mason Canyon Lane,77584,Southlake,LOT 07 BLOCK 01,4,3,1,2 / Attached,2.0,2020,2797,8447.0,"$1,090.00",None
1,47862937,8,11225 Elbect Drive,77035,Post Oak Manor Sec 05,LT 18 BLK 4 POST OAK MANOR SEC 5,3,2,0,2 / Attached,1.0,1957,1495,7440.0,None,None
2,27038983,6,5326 Paisley Street,77096,Meyerland R/P H,LT 7 BLK 23 MEYERLAND SEC 8 R/P H,5,5,2,3 / Attached,2.0,2019,5529,11555.0,$550.00,None
3,76438395,5,4710 Shetland Lane,77027,Afton Oaks Sec 05,LT 12 BLK 2 AFTON OAKS SEC 5,5,5,0,2 / Attached,2.0,2019,5224,8160.0,$830.00,None
4,28709384,3,2535 Inwood Drive,77019,River Oaks,LT 2 BLK 36 RIVER OAKS SEC 1,5,6,3,4 / Attached,2.0,2019,8116,23992.0,"$2,510.00",None
5,21684948,2,3229 Groveland Lane,77019,River Oaks,TRS 4A & 5 BLK 12 RIVER OAKS COUNTRY CLUB ESTATE,4,5,2,4 / Detached,3.0,1935,7098,NaN,"$3,120.00",None
6,44843980,1,1314 South Boulevard,77006,Broadacres,LT 24 BROADACRES,5,5,2,3 / Attached,2.0,2011,16454,37260.0,"$4,000.00",None
7,31532564,10,14635 N Raleighs Meadow Court N,77433,Fairfield Village South Sec 15,LT 1 BLK 1 FAIRFIELD VILLAGE SOUTH SEC 15,5,4,0,2 / Attached,2.0,2015,3064,8118.0,$300.00,0x44579
8,69005592,11,17007 Makanda Drive,77433,Bridgeland - Lakeland Heights,LT 11 BLK 3 BRIDGELAND LAKELAND HEIGHTS SEC 5,3,3,0,2 / Attached,1.5,2015,2678,7545.0,"$1,150.00",1234566666x
9,3331175,4,3712 Darcus Street,77005,Southside Place,TRS 19 & 20A BLK 5 SOUTHSIDE PLACE,5,5,1,2 / Attached,2.0,2019,5590,9375.0,None,65899d754
10,70062315,7,4122 Levonshire Drive,77025,Woodhsire Sec 02,LT 19 BLK 3 WOODSHIRE SEC 2,4,4,1,2 / Attached,2.0,2019,3656,10050.0,$370.00,1119830109830983879

In [16]:
def add_buyer():
    wallet_address = input("What is the buyer's wallet address? ")
    connection.execute(f"INSERT INTO tblbuyer_info (wallet_address) VALUES ('{wallet_address}'))

In [17]:
add_buyer()

What is the buyer's wallet address?  0x4388599389

In [40]:
query2 ="""
SELECT buyer_code FROM tblbuyer_info WHERE wallet_address = '222';
"""

In [43]:
properties_df = pd.read_sql(query2, engine)
try:
    buyer_code = properties_df['buyer_code'][0]
except IndexError:
    print("doesn't exist")

doesn't exist

In [37]:
x = properties_df['buyer_code'][0]

In [38]:
print(x)

1