In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/RENT")
connection = engine.connect()

In [3]:
def update_token ():
    property_code = input("What is the property code?")
    token_hash = input("What is the token transaction hash?")
    connection.execute(f"UPDATE tblproperty_info SET token_hash = '{token_hash}' WHERE property_code = {property_code};")
    print("Update Complete")

In [28]:
query="""
SELECT p.property_code, p.street_address, p.subdivision, p.legal_description, p.bedrooms, p.full_baths, p.half_baths, p.garage, p.token_hash, s.listing_price
FROM tblproperty_info p
JOIN tblsale_info s
ON p.property_code = s.property_code
WHERE s.status_code=1;
"""

In [23]:
query4="""
SELECT s.listing_price
FROM tblsale_info s
JOIN tblproperty_info p
ON s.property_code = p.property_code
WHERE s.status_code=1;
"""

In [21]:
query3="""SELECT *
FROM tblproperty_info
WHERE property_code IN
(
    SELECT property_code
    FROM tblsale_info
    WHERE status_code = 1
);
"""

In [29]:
properties_df = pd.read_sql(query, engine)
properties_df

,property_code,street_address,subdivision,legal_description,bedrooms,full_baths,half_baths,garage,token_hash,listing_price
0,75112555,13521 Mason Canyon Lane,Southlake,LOT 07 BLOCK 01,4,3,1,2 / Attached,None,"$455,900.00"
1,47862937,11225 Elbect Drive,Post Oak Manor Sec 05,LT 18 BLK 4 POST OAK MANOR SEC 5,3,2,0,2 / Attached,None,"$339,000.00"
2,27038983,5326 Paisley Street,Meyerland R/P H,LT 7 BLK 23 MEYERLAND SEC 8 R/P H,5,5,2,3 / Attached,None,"$1,315,000.00"
3,76438395,4710 Shetland Lane,Afton Oaks Sec 05,LT 12 BLK 2 AFTON OAKS SEC 5,5,5,0,2 / Attached,None,"$2,449,000.00"
4,28709384,2535 Inwood Drive,River Oaks,LT 2 BLK 36 RIVER OAKS SEC 1,5,6,3,4 / Attached,None,"$7,800,000.00"
5,21684948,3229 Groveland Lane,River Oaks,TRS 4A & 5 BLK 12 RIVER OAKS COUNTRY CLUB ESTATE,4,5,2,4 / Detached,None,"$9,975,000.00"
6,44843980,1314 South Boulevard,Broadacres,LT 24 BROADACRES,5,5,2,3 / Attached,None,"$18,000,000.00"
7,31532564,14635 N Raleighs Meadow Court N,Fairfield Village South Sec 15,LT 1 BLK 1 FAIRFIELD VILLAGE SOUTH SEC 15,5,4,0,2 / Attached,0x44579,"$337,500.00"
8,69005592,17007 Makanda Drive,Bridgeland - Lakeland Heights,LT 11 BLK 3 BRIDGELAND LAKELAND HEIGHTS SEC 5,3,3,0,2 / Attached,1234566666x,"$324,900.00"
9,3331175,3712 Darcus Street,Southside Place,TRS 19 & 20A BLK 5 SOUTHSIDE PLACE,5,5,1,2 / Attached,65899d754,"$3,495,000.00"
10,70062315,4122 Levonshire Drive,Woodhsire Sec 02,LT 19 BLK 3 WOODSHIRE SEC 2,4,4,1,2 / Attached,6798569885,"$999,900.00"

In [15]:
def add_buyer():
    wallet_address = input("What is the buyer's wallet address? ")
    check_buyer = f"SELECT buyer_code FROM tblbuyer_info WHERE wallet_address = '{wallet_address}';"
    buyer_df = pd.read_sql(check_buyer, engine)
    try:
        buyer_code = buyer_df['buyer_code'][0]
        print(f"This wallet already exists. Buyer Code: {buyer_code}")
    except IndexError:
        connection.execute(f"INSERT INTO tblbuyer_info (wallet_address) VALUES ('{wallet_address}')")
        new_buyer = f"SELECT buyer_code FROM tblbuyer_info WHERE wallet_address = '{wallet_address}';"
        buyer_df = pd.read_sql(new_buyer, engine)
        buyer_code = buyer_df['buyer_code'][0]
        print(f"Update Complete. Buyer Code: {buyer_code}")

In [16]:
add_buyer()

What is the buyer's wallet address?  0x4388599389

This wallet already exists. Buyer Code: 1

In [40]:
query2 ="""
SELECT buyer_code FROM tblbuyer_info WHERE wallet_address = '222';
"""

In [43]:
properties_df = pd.read_sql(query2, engine)
try:
    buyer_code = properties_df['buyer_code'][0]
except IndexError:
    print("doesn't exist")

doesn't exist

In [37]:
x = properties_df['buyer_code'][0]

In [38]:
print(x)

1